div.producto{
	margin-bottom: 1em;
}

img.producto{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	width:100%;
}

a.producto{
	position:relative;
	display: block;
	width: 100%;
}

div.datosproducto{
	padding:0.5em;
	border:1px solid gray;
}

p.producto.titulo{
	font-weight: bold;
}

span.producto.categoria{
	font-weight: bold;
	color: blue;
}

span.producto.estado{
	font-weight: bold;
	color: green;
}

span.producto.precio{
	margin-left: 3em;
	font-size: 1.5em;
}